.movie__wrap {
    overflow: hidden;
}
.movie__inner {
    height: 1000px;
    margin-top: 100px;
    margin-bottom: 100px;
    .movie__text {
        h3 {
            font-size: 50px;
            margin-bottom: 40px;
        }
        p {
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 60px;
        }
        a {
            @include border(50px)
        }
    }
    
    .movie__item {
        @include flex-between;
        position: absolute;
        margin-top: 70px;
        
        > div {
            margin-right: 10px;
            width: 400px;
            @include border(20px)
        }
        > div img {
            width: 100%;
        }
    }
}